# Core environment
numpy
pandas
matplotlib
opencv-python
Pillow
jupyter
notebook

# Modeling and vision
torch
torchvision
transformers
open_clip_torch
ultralytics
PyYAML

# OCR and app
pytesseract
streamlit
